p {
    color: blue;
    text-align: center;
    font-size: 150%;
}

a {
    background-color: red;

}
h2 {
    background-color: #FFBA60;
    /*
    border-width: 5px;
    border-color: black;
    border-style: dashed;
    */
    border: 5px dashed black;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    padding: 10px;
    margin-top: 50px;
}